body {
     font-family: Didot;
     text-align: center;
     float: right;
     top: 200px;
}

.cover {
       background-color: #778899;
       position: fixed;
       bottom: 0;
       right: 0;
       left: 0;
       top: 0;
       opacity: 0.8;
}

.image {
    float: left;
}